@import "tailwindcss";

@custom-variant dark (&:is(.dark *)); 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

:root {
  --primary: #F97316;
  --secondary: #FEF3E7;
  --accent: #1E1E1E;
  --background: #FFF9F4;
  --text: #262626;
}

.dark {
  --background: #1E1E1E;
  --text: #F5E0CF;
  --primary: #F97316;
  --accent: #FB923C;
  --secondary: #2B2B2B;
}

@layer base {
  body { @apply bg-background text-foreground; }
}
